/* GERAL */
*{margin:0; padding:0; border:0;}
SECTION, FOOTER, .pop{ font-family:"solexbolditalicregular"; color:#818181;}
:focus,input,textarea{outline:none;}

/* FONTES */
@font-face {
    font-family: 'solexboldregular';
    src: url('fontes/solexbold-webfont.eot');
    src: url('fontes/solexbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/solexbold-webfont.woff2') format('woff2'),
         url('fontes/solexbold-webfont.woff') format('woff'),
         url('fontes/solexbold-webfont.ttf') format('truetype'),
         url('fontes/solexbold-webfont.svg#solexboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'solexbolditalicregular';
    src: url('fontes/solexbolditalic-webfont.eot');
    src: url('fontes/solexbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/solexbolditalic-webfont.woff2') format('woff2'),
         url('fontes/solexbolditalic-webfont.woff') format('woff'),
         url('fontes/solexbolditalic-webfont.ttf') format('truetype'),
         url('fontes/solexbolditalic-webfont.svg#solexbolditalicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

BODY{height:100%; display:block;}

HEADER{min-width:1000px; width:100%; position:absolute; top:0; display:none;}
HEADER > DIV{padding:0 0 10px; background-color:#C9C9C9}
HEADER > DIV #barra-abril{margin-bottom:10px;}
HEADER > DIV #abrAD_leaderboard1{text-align:center;}
HEADER > BLOCKQUOTE{position:relative; height:70px; overflow:hidden;}
HEADER > BLOCKQUOTE H2{display:block; width:83px; height:34px; text-indent:-9999px; overflow:hidden; background: transparent url(img/logo-ge.png) no-repeat 0 0; position:absolute; top:30px; left:20px;}
HEADER > BLOCKQUOTE A{display:block; text-indent:-9999px; overflow:hidden;}
HEADER > BLOCKQUOTE A#bt-acesso-ao-ge{width:157px; height:19px; background: transparent url(img/bt-acesso-ao-ge.png) no-repeat 0 0; margin:0 auto; top:0; position:relative;}
HEADER > BLOCKQUOTE A#bt-ja-fiz{width:154px; height:38px; background: transparent url(img/bt-ja-fiz.png) no-repeat 0 0; position:absolute; top:30px; right:20px;}
HEADER > BLOCKQUOTE A#bt-ja-fiz:hover {background-position:0 -38px;}
HEADER > BLOCKQUOTE A#bt-salvar{width:154px; height:38px; background: transparent url(img/bt-salvar.png) no-repeat 0 0; position:absolute; top:30px; right:20px;}
HEADER > BLOCKQUOTE A#bt-salvar:hover {background-position:0 -40px;}

SECTION{width:1000px; margin:18% auto 0; position:relative; display:none;}

FOOTER{min-width:1000px; width:100%; position:absolute; bottom:15px; text-align:center; display:none;}
FOOTER P{font-family:verdana; font-size:10px; color:#000;}
FOOTER SPAN{position:absolute; left:20px; bottom:5px;}
FOOTER SPAN A{width:154px; height:38px; background: transparent url(img/bt-saiba-tudo.png) no-repeat 0 0; display:block; text-indent:-9999px; overflow:hidden; margin:5px 0;}
FOOTER SPAN A:hover{background-position:0 -38px;}

/* INTRODUÇÃO */
SECTION.introducao{text-align:center;}
SECTION.introducao H1{display:block; width:528px; height:168px; text-indent:-9999px; overflow:hidden; background: transparent url(img/titulo.png) no-repeat 0 0;  margin:30px auto; position:relative;}
SECTION.introducao STRONG{font-size:25px; font-weight:normal; position:relative}
SECTION.introducao P{font-size:16px; color:#4E4E4E; display:block; width:510px; margin:4px auto; position:relative;}
SECTION.introducao A{display:block; width:265px; height:111px; text-indent:-9999px; overflow:hidden; background: transparent url(img/bt-comecar.png) no-repeat 0 0; margin:30px auto;}
SECTION.introducao A:hover{background-position:0 -111px;}

/* QUIZ */
SECTION.quiz BLOCKQUOTE{position:absolute; width:283px; top:195px; left:-15px; text-align:right;}
SECTION.quiz BLOCKQUOTE STRONG{font-size:25px; color:#111; font-weight:normal; line-height:35px;}
SECTION.quiz BLOCKQUOTE P{font-size:15px; color:#555; line-height:19px; letter-spacing: -.1pt;}

SECTION.quiz > DIV{display:block; width:490px; height:490px; overflow:hidden; margin:0 auto; position:relative;}/*background: transparent url(img/base.png) no-repeat 34px 0;*/
SECTION.quiz > DIV SPAN{display:block; width:40px; height:25px; position:absolute; top:90px; left:225px; font-size:19px; color:#FFF; z-index:2; opacity:0}
SECTION.quiz > DIV STRONG{display:block; width:200px; height:50px; position:absolute; top:170px; left:150px; font-size:18px; font-family:"solexboldregular"; font-weight:normal; color:#000; text-align:center; z-index:2; opacity:0}
SECTION.quiz > DIV A{display:block; width:147px; height:33px; margin:0 auto 7px; padding:10px 10px 10px 50px; background:transparent url("img/bt-opcao.png") no-repeat 0 0; position:absolute; top:220px; left:140px; z-index:3; opacity:0}
SECTION.quiz > DIV A LABEL{display:table-cell; width:147px; height:33px; vertical-align:middle; font-size:16px; line-height:16px; user-select:none;}
SECTION.quiz > DIV A:HOVER{background-position:0 -53px;}
SECTION.quiz > DIV A:HOVER LABEL{color:#1C7ABA;}
SECTION.quiz > DIV A:nth-child(4){top:278px;}
SECTION.quiz > DIV #canvas{position:absolute;}

SECTION.quiz ASIDE{display:block; position:absolute; top:100px; right:65px; width:190px; height:250px;}
SECTION.quiz ASIDE > DIV{display:block; position:absolute; width:190px; height:250px;}

/* RESPOSTA */
SECTION.resposta > BLOCKQUOTE{width:960px; margin:0 auto; text-align:center; background:transparent url("img/hr.png") no-repeat 0 bottom; padding-bottom:7px;}
SECTION.resposta > BLOCKQUOTE P{display:inline-block; font-size:26px; color:#555; line-height:35px; margin-bottom:13px}
SECTION.resposta > BLOCKQUOTE P STRONG{display:inline-block; position:relative; height:35px; font-size:25px; color:#FFF; font-weight:normal; line-height:33px; background: url("img/ct-tit-perfil.png") no-repeat left 0, url("img/bg-tit-perfil.png") no-repeat right 0; padding:1px 10px 1px 45px; margin-left:5px;}
SECTION.resposta > BLOCKQUOTE P STRONG SPAN{display:inline-block; position:absolute; width:52px; height:37px; background:transparent url("img/ico-1.png") no-repeat 0 0; top:0; left:0; -ms-transform: scale(.6); -webkit-transform: scale(.6); transform: scale(.6);}

SECTION.resposta ASIDE{width:225px; height:395px; padding:15px 40px 0 25px; background:transparent url("img/bg-aside.png") no-repeat right 0; position:absolute; left:20px;}
SECTION.resposta ASIDE STRONG{display:block; font-size:25px; color:#313131; font-weight:normal; margin-bottom:15px;}
SECTION.resposta ASIDE P{display:block; height:120px; color:#313131;}
SECTION.resposta ASIDE A{display:block; width:156px; height:41px; margin:20px 0; background:transparent url("img/bt-saber-mais.png") no-repeat 0 0; text-indent:-9999px;}
SECTION.resposta ASIDE A:hover{background-position:0 -41px;}
SECTION.resposta ASIDE UL{display:block; width:222px; height:22px; padding:3px; margin:15px auto; background:transparent url("img/bg-famosos.png") no-repeat 0 0;}
SECTION.resposta ASIDE LI{display:block; width:215px; height:22px; overflow:hidden; position:relative;}
SECTION.resposta ASIDE LI I{display:block; width:215px; height:22px; position:absolute; font-style:normal; font-size:20px; font-weight:normal; text-align:center; color:#313131;}

/* BOX PROFISSÕES */
SECTION.resposta > DIV{position:absolute; width:651px; height:167px; top:70px; right:20px; background:url("img/bg-final-rodape.png") no-repeat 0 bottom, url("img/bg-final-perfil.png") no-repeat 0 top, url("img/bg-final-social.png") no-repeat 0 bottom;}

SECTION.resposta > DIV BLOCKQUOTE:nth-child(1){position:absolute; top:8px; left:10px; width:634px; height:123px; background-color:#17B6ED; z-index:2;}

SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) STRONG{display:block; margin-top:17px; text-align:center; font-size:28px; color:#FFF; font-weight:normal; text-shadow:-1px -1px .7pt rgba(0,0,0,0.2);}

SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > DIV{display:block; width:284px; height:31px; position:absolute; top:66px; left:100px; background:transparent url(img/bg-final-profissoes.png) no-repeat 0 0; z-index:3}

SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(3){display:block; width:284px; height:31px; position:absolute; top:66px; left:100px; background:#E8E8E8; overflow:hidden;}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(3) LI:nth-child(1){display:block; width:350px; height:26px; position:absolute; top:0; right:245px; padding:5px 10px 0 0; background:#62BAE6; text-align:right; font-size:21px; color:#FFF; z-index:2}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(3) LI:nth-child(2){display:block; width:245px; height:18px; position:absolute; top:0; left:29px; padding:8px 0 0; text-align:center; font-size:18px;}

SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > A{display:block; width:155px; height:37px; background:transparent url("img/bt-profissao.png") no-repeat 0 0; text-indent:-9999px; position:absolute; top:63px; left:395px;}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > A:hover{background-position:0 -37px;}

SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(4){display:block; width:436px; height:25px; position:absolute; top:115px; left:65px; background:transparent url("img/bg-slider.png") no-repeat 0 0; padding-left: 110px;}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(4) LI{color:#FFF; float:left; margin:6px 16px 0 0; list-style:none; font-size:10px; background:transparent url("img/bullet-slider.png") no-repeat center 0; padding-top:15px; width:20px; text-align:center; cursor: pointer;}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(4) LI:hover{-ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4);}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(1) > UL:nth-child(4) > A{display:block; width:17px; height:17px; background:transparent url("img/holder-slider.png") no-repeat 0 0; position:absolute; top:4px; left:113px; z-index:2;}

/* BOX REDES SOCIAIS */
SECTION.resposta > DIV BLOCKQUOTE:nth-child(2){position:absolute; bottom:0; left:10px; width:590px; height:183px; padding-left:42px;}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(2) STRONG{display:block; margin-top:17px; font-size:28px; color:#FFF; font-weight:normal; text-shadow:-1px -1px .7pt rgba(0,0,0,0.2);}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(2) P{display:block; margin-top:17px; font-size:17px; color:#FFF; font-weight:normal; text-shadow:-1px -1px .7pt rgba(0,0,0,0.2);}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(2) A:nth-child(3){display:block; width:187px; height:27px; background:transparent url("img/bt-facebook.png") no-repeat 0 0; text-indent:-9999px; position:absolute; top:65px; left:110px;}
SECTION.resposta > DIV BLOCKQUOTE:nth-child(2) A:nth-child(4){display:block; width:187px; height:27px; background:transparent url("img/bt-twitter.png") no-repeat 0 0; text-indent:-9999px; position:absolute; top:65px; left:330px;}

/* POP */
DIV.pop{width:444px; height:391px; position:absolute; top:100px; left:200px; background:transparent url("img/pop.png") no-repeat 0 0; z-index:6; display:none; opacity:0;}
DIV.pop STRONG{display:block; position:absolute; font-weight:normal; font-size:35px; color:#17B6ED; top:25px; left:25px;}
DIV.pop ARTICLE{display:block; position:absolute; font-size:16px; top:74px; left:30px; width:375px; height:292px; overflow:hidden;}
DIV.pop .mCSB_container{padding:10px 0;}
DIV.pop .mCSB_scrollTools{right:-40px}
DIV.pop .mCSB_scrollTools .mCSB_dragger{height:17px; min-height:17px}
DIV.pop .mCSB_scrollTools .mCSB_dragger_bar{width:17px; height:17px; background:transparent url("img/bt-scroll.png") no-repeat 0 0;}
DIV.pop .mCSB_scrollTools .mCSB_draggerRail{width:1px; background-color:#C8C8C8; left:20px;}

DIV.pop > A{width:27px; height:27px; position:absolute; top:4px; right:4px; background:transparent url("img/bt-fechar-pop.png") no-repeat 0 0;}

DIV.bg_pop{width:100%; height:100%; position:absolute; top:0; left:0; background-color:black; opacity:.3; z-index:5; display:none; opacity:0;}




